/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

/* VARIABLES */
:root {
    --header-height: 5rem;
    /* primary colors */
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desaturated-cyan: dhsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-moderate-cyan: hsl(168, 34%, 41%);
    /* neutral colors */
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);

    /* typography */
    --font-size-body: 1.125rem; /* 18px */
    --font-Barlow: "Barlow", sans-serif;
    --font-Fraunces: "Fraunces", serif;
}

/* BASE */
*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-Barlow);
    font-size: var(--font-size-body);
    font-weight: 600;
}

h1,
p,
ul,
li {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* BG Layout Setup */
/* .bg-img {
} */

.img-mobile {
    display: block;
}
.img-desktop {
    display: none;
}

@media screen and (min-width: 768px) {
    .img-mobile {
        display: none;
    }
    .img-desktop {
        display: block;
    }
}

/* Layout Setup */
.top-grid {
    max-width: 1024px;
    width: calc(100% - 3rem);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    position: relative;
    z-index: 10;
}

@media screen and (min-width: 768px) {
    /* .top-grid {} */
}
@media screen and (min-width: 1024px) {
    .top-grid {
        margin-left: auto;
        margin-right: auto;
    }
}

/* header / nav */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav {
    height: var(--header-height);
    background: transparent;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* nav menu */
.nav__menu {
    z-index: 100;
    position: absolute;
    top: -500px;
    right: 0;
    width: calc(100% - 3rem);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    height: 500px;
    padding: 1.5rem 0;
    background: var(--white);
}
/* show menu */
.show {
    top: var(--header-height);
}

/* hero */

.hero__container {
    position: relative;
}
.hero {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hero__header {
    color: var(--white);
    font-family: var(--font-Fraunces);
    font-size: 2.8rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3rem;
    letter-spacing: 4px;
}

@media screen and (min-width: 768px) {
    .hero__header-br {
        display: none;
    }
    .hero__header {
        font-size: 3rem;
        margin-bottom: 2rem;
    }
}
@media screen and (min-width: 1024px) {
    .hero__header {
        font-size: 3.2rem;
        margin-top: -8rem;
        margin-bottom: 5rem;
    }
}
