/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

/* VARIABLES */
:root {
    --header-height: 7rem;
    /* primary colors */
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desaturated-cyan: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-moderate-cyan: hsl(168, 34%, 41%);
    /* neutral colors */
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);

    /* typography */
    --font-size-body: 1.125rem; /* 18px */
    --font-Barlow: "Barlow", sans-serif;
    --font-Fraunces: "Fraunces", serif;

    /* transitions */
    --speed: 0.3s;
}

/* BASE */
*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-Barlow);
    font-size: var(--font-size-body);
    font-weight: 600;
    max-width: 1440px;
    margin: 0 auto;
}

h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* BG Layout Setup */

.img-mobile {
    display: block;
}
.img-desktop {
    display: none;
}

@media screen and (min-width: 768px) {
    .img-mobile {
        display: none;
    }
    .img-desktop {
        display: block;
    }
}

/* Layout Setup */
.top-grid {
    max-width: 1340px;
    width: calc(100% - 3rem);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    position: relative;
    z-index: 10;
}

.br-mobile {
    display: block;
}
.br-desktop {
    display: none;
}

@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1024px) {
    .top-grid {
        margin-left: auto;
        margin-right: auto;
    }
    .br-mobile {
        display: none;
    }
    .br-desktop {
        display: block;
    }
}

/* header / nav */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav {
    height: var(--header-height);
    background: transparent;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__container img {
    width: 160px;
}

/* nav menu */
.nav__menu {
    z-index: 100;
    position: absolute;
    top: -500px;
    right: 0;
    width: 100%;
    height: 300px;
    padding: 2rem 0;
    background: var(--white);
    display: flex;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: top 0.5s ease;
}

.nav__menu::after {
    content: "";
    position: absolute;
    top: -29px;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 30px solid var(--white);
    border-left: 30px solid transparent;
}

.nav__list {
    align-items: center;
}
.nav__item:not(:last-child) {
    padding: 0.8rem;
    margin-bottom: 1rem;
}
.nav__item a {
    color: var(--dark-grayish-blue);
    transition: color var(--speed) ease;
}

.nav__item a:hover {
    color: var(--very-dark-desaturated-blue);
}

#navButton {
    font-family: var(--font-Fraunces);
    text-transform: uppercase;
    font-size: 1rem;
    padding: 14px 22px;
    background: var(--white);
    color: var(--very-dark-desaturated-blue);
    border-radius: 25px;
    background: var(--yellow);
    border: none;
    outline: none;
    cursor: pointer;
    border: 2px solid transparent;
    transition: color var(--speed) ease, background var(--speed) ease, border var(--speed) ease;
}

#navButton:hover {
    background: transparent;
    border: 2px solid var(--yellow);
    background: rgba(250, 212, 0, 0.4);
}

@media screen and (min-width: 768px) {
    .nav__toggle {
        display: none;
    }
    .nav__menu {
        position: static;
        background: transparent;
        width: auto;
        height: auto;
        opacity: 1;
    }
    .nav__menu::after {
        display: none;
    }
    .nav__list {
        display: flex;
    }
    .nav__item:not(:last-child) {
        padding: 0;
        margin-bottom: 0;
        margin-right: 2.2rem;
    }
    .nav__item a {
        color: var(--white);
    }
    .nav__item a:hover {
        color: rgba(255, 255, 255, 0.8);
    }
    #navButton {
        background: var(--white);
    }
    #navButton:hover {
        border: 2px solid transparent;
        background: rgba(255, 255, 255, 0.3);
        color: var(--white);
    }
}

/* show menu */
.show {
    top: calc(var(--header-height) + 30px);
    opacity: 1;
}

/* hero */

.hero__container {
    position: relative;
}
.hero {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hero__header {
    color: var(--white);
    font-family: var(--font-Fraunces);
    font-size: 2.8rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3rem;
    letter-spacing: 4px;
}

@media screen and (min-width: 768px) {
    .hero__header-br {
        display: none;
    }
    .hero__header {
        font-size: 3rem;
        margin-bottom: 2rem;
    }
}
@media screen and (min-width: 1024px) {
    .hero__header {
        font-size: 3.2rem;
        margin-top: -8rem;
        margin-bottom: 5rem;
    }
}

/* Section 1 - TRANSFORM*/

.transform {
    display: flex;
    flex-direction: column;
}

.transform__card {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    color: var(--dark-blue);
    text-align: center;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.card__header {
    font-family: var(--font-Fraunces);
    font-size: 2rem;
}
.card__description {
    color: var(--dark-grayish-blue);
    line-height: 1.6;
}
.card__header,
.card__description {
    margin-bottom: 2rem;
}

.card__link {
    font-family: var(--font-Fraunces);
    color: var(--dark-blue);
    position: relative;
}
.card__link::after {
    content: "";
    position: absolute;
    bottom: -2px;
    right: -5%;
    width: 110%;
    height: 10px;
    opacity: 50%;
    background: var(--yellow);
    z-index: -1;
    border-radius: 5px;
}

@media screen and (min-width: 768px) {
    .transform__img,
    .transform__card {
        width: 50%;
        margin: 0;
        padding: 0;
    }
    .transform__card {
        display: flex;
        align-items: center;
        text-align: start;
    }
    .card__data {
        margin-left: 1.5rem;
    }
    .transform {
        flex-direction: row-reverse;
    }
}
@media screen and (min-width: 1024px) {
    .card__data {
        margin-left: 5rem;
    }
}

/* Section 2 - STAND OUT (editing section 1) */
.card__link-2 {
    font-family: var(--font-Fraunces);
    color: var(--dark-blue);
    position: relative;
}
.card__link-2::after {
    content: "";
    position: absolute;
    bottom: -2px;
    right: -5%;
    width: 110%;
    height: 10px;
    opacity: 50%;
    background: var(--soft-red);
    z-index: -1;
    border-radius: 5px;
}
@media screen and (min-width: 768px) {
    .transform-2 {
        flex-direction: row;
    }
}
@media screen and (min-width: 1024px) {
    .card__data-2 {
        margin-left: 0;
        margin-right: 5rem;
    }
}

/* Section 3 - GRAPHIC DESIGN & PHOTOGRAPHY */
@media screen and (min-width: 768px) {
    .gd-ph__container {
        display: flex;
    }
}

/* GRAPHIC DESIGN */

.gd__container,
.ph__container {
    position: relative;
}
.gd,
.ph {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.gd__data,
.ph__data {
    text-align: center;
    margin-bottom: 20%;
}
.gd__data {
    color: var(--dark-desaturated-cyan);
}
.ph__data {
    color: var(--dark-blue);
}
.gd__header,
.ph__header {
    font-family: var(--font-Fraunces);
    margin-bottom: 2rem;
}
.gd__description,
.ph__description {
    line-height: 1.6;
    font-size: 0.98rem;
}

@media screen and (min-width: 768px) {
    .gd__data,
    .ph__data {
        margin-bottom: 8%;
    }
    .gd__header,
    .ph__header {
        margin-bottom: 1rem;
    }
}
@media screen and (min-width: 1024px) {
    .gd__header,
    .ph__header {
        margin-bottom: 2rem;
    }
}

/* TESTIMONIALS SECTION */
.testimonials__container {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

.testimonials__header,
.testimonials {
    max-width: 1100px;
    width: calc(100% - 3rem);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.testimonials__header {
    color: var(--grayish-blue);
    font-family: var(--font-Fraunces);
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1.8px;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.testimonials {
    margin-bottom: 5rem;
}

.testimonial__data:not(:last-child) {
    margin-bottom: 4rem;
}

.testimonial__img {
    width: 80px;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.testimonial__description {
    color: var(--very-dark-grayish-blue);
    margin-bottom: 2rem;
    line-height: 1.6;
}

.testimonial__name {
    color: var(--very-dark-desaturated-blue);
    font-family: var(--font-Fraunces);
    margin-bottom: 0.5rem;
}

.testimonial__role {
    color: var(--grayish-blue);
    font-size: 0.98rem;
}

@media screen and (min-width: 768px) {
    .testimonials__container {
        padding: 7rem 0;
    }
    .testimonials {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3rem;
    }
    .testimonial__data:not(:last-child) {
        margin-bottom: 0;
    }
    .testimonial__data:nth-child(2) {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .testimonials__header {
        font-size: 1.4rem;
        margin-bottom: 5rem;
    }
}
@media screen and (min-width: 1024px) {
    .testimonials__header,
    .testimonials {
        margin-left: auto;
        margin-right: auto;
    }
}

/* PHOTO GRID */
.photo-grid__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (min-width: 768px) {
    .photo-grid__container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* FOOTER */
footer {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background: hsl(168, 45%, 58%);
}

.footer {
    width: calc(100% - 4rem);
    max-width: 375px;
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
}

.footer__logo {
    align-self: center;
    margin-bottom: 3rem;
}

.footer__logo h1 {
    color: var(--dark-desaturated-cyan);
    font-weight: 700;
    cursor: pointer;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.footer__nav li a {
    color: var(--dark-desaturated-cyan);
    transition: color var(--speed) ease;
}

.footer__nav li a:hover {
    color: var(--white);
}

.footer__social-media {
    margin: 0 auto;
}

.footer__social-link:not(:last-child) {
    margin-right: 2rem;
}

.footer__social-link i {
    font-size: 1.4rem;
    color: var(--dark-desaturated-cyan);
    transition: color var(--speed) ease;
}

.footer__social-link i:hover {
    color: var(--white);
}

@media screen and (min-width: 768px) {
    .footer {
        margin-left: auto;
        margin-right: auto;
    }
}
